*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    cursor: pointer;
    width: 85%;
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
   }
